<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>get</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da8322b3e666b7e54a05694adbd91cfc&libraries=services"></script>
</head>
<script type="text/javascript">
let getLocation = () => {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
            let lat = position.coords.latitude
            let lng = position.coords.longitude
            console.log(lat + "/" + lng)
            let Latlng = new kakao.maps.LatLng(lat, lng)
            let marker = new kakao.maps.Marker({
                position: Latlng,
                clickable: true
            })

            marker.setMap(map);
            let screen = '<div onclick="javascript:alert('XXXXX')"></div>'
            var infowindow = new kakao.maps.InfoWindow({
                content: screen
            });

            marker.setDraggable(true);

            kakao.maps.event.addListener(marker, 'click', () => {
                infowindow(map, marker)
            })

            // map.setCenter()
            map.panTo(Latlng)
        })
    }
}

$(document).ready(() => {
    getLocation()
});
</script>

<body>
    <div id='map' style="width:100%;height: 750px;"></div>
    <script type="text/javascript">
    let container = document.getElementById('map')

    let options = {
        level: 3
    }
    let map = new kakao.maps.Map(container, options)
    </script>
</body>

</html>