
<nav>
    <ul class="menu">
        <li class="material-symbols-outlined">
            <a href="write">
                menu 상품 등록
            </a>
        </li>
        <li class="material-symbols-outlined">
            <a href="manage">
                menu 상품 관리
            </a>
        </li>
        <li class="material-symbols-outlined">
            <a href="store">
                menu 매장 설정
            </a>
        </li>
    </ul>
</nav>