<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/css.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/write.js"></script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="material-symbols-outlined">
                <a href="write.html">
                menu 상품 등록
                </a>
                </li>
            <li class="material-symbols-outlined">
                <a href="manage.html">
                     menu 상품 관리
                </a>
            </li>
            <li class="material-symbols-outlined">
                <a href="store.html">
                    menu 매장 설정
                </a>
            </li>
        </ul>
    </nav>
    <div class="board_wrap">
        <div class="board_title">
            <strong>물품등록</strong>
            <p>물품등록하기</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" id="f_name" placeholder="제목 입력" ></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>원가</dt>
                        <dd><input type="price_1" id="f_price" placeholder="가격 입력" ></dd>
                    </dl>
                    <dl>
                        <dt>할인가</dt>
                        <dd><input type="price_1" id="f_price2" placeholder="할인가 입력" ></dd>
                    </dl>
                </div>
                <div class="info_2">
                    <dl>
                        <dt>할인율</dt>
                        <dd><input type="text_2" id="f_sale" placeholder="할인율" disabled></dd>
                    </dl>
                    <dl>
                        <dt>유통기한</dt>
                        <dd><input type="date" id="f_exp" placeholder="MM/DD" value="<%= new Date(+new Date() + 3240 * 10000).toISOString().split('T')[0] %>"></dd>
                    </dl>
                </div>
                <div class="tag">
                    <dl>
                        <dt>카테고리</dt>
                    <span class="category">
                        <select id="f_pick" class="sel">
                            <option>선택 안함</option>
                                    <option value="1">한식</option>
                                    <option value="2">일식</option>
                                    <option value="3">중식</option>
                                    <option value="4">양식</option>
                                    <option value="5">분식</option>
                                    <option value="6">카페</option>
                                    <option value="7">편의점</option>
                                    <option value="8">베이커리</option>
                        </select>
                    </span>
                    </dl>
                </div>
                
                <div class="button" id="submit">
                </div>
                <img id="imgtag" style="width:0px;height: 0px;"><br />
                <input type="file" id="chooseFile" name="image" accept="image/*" onchange="upload(this)">
                
                <div class="cont">
                    <textarea placeholder="내용 입력"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a id="submit" href="javascript:update()" class="on">등록</a>
                <a href="manage">취소</a>
            </div>
        </div>
    </div>
    <script>
        window.ID = "<%= id %>";
        window.NAME = "<%= name %>";
    </script>
</body>
</html>